<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="map" style="width:400px;height:400px;background:grey"></div>
    <script>
        function Map123() {
            var mapOptions = {
                center:new google.maps.LatLng(51.508742,-0.120850),
                zoom: 14,
                mapTypeId: google.maps.MapTypeId.TERRAIN
            }
            var map = new google.maps.Map(document.getElementById("map"), mapOptions);
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu-916DdpKAjTmJNIgngS6HL_kDIKU0aU&callback=Map123"></script>
</body>
</html>

<script src="https://maps.googleapis.com/maps/api/js?callback=mMap"></script>